@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers */
html, body, #root {
  height: 100%;
}
body {
  @apply bg-gray-100;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}